<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<title>Directive-ng-Bind</title>
	<style>
	#container{
	background:#D1F2EB;
	width:15%;
	height:150px;
	border:1px solid black;
	padding:5px;
	}
	</style>
</head>
<body>

	<div id="container" ng-app="myApp" ng-controller="myController">
		value1:<input type="number" ng-model="val1"  ng-change="sum()"/>
		value2:<input type="number" ng-model="val2" ng-change="sum()"/>
		<br/><br/>
		<b>Sum:</b> <span ng-bind="result"</span>
	</div>
	</div>
<script>
	var app=angular.module("myApp",[]);
	app.controller('myController', function($scope){
	
	$scope.val1 = 0;
	$scope.val2 = 0;
	$scope.sum = function(){
	$scope.result = ($scope.val1 + $scope.val2);
	}
});
</script>
</body>
</html>